window-rule {
    geometry-corner-radius 20 // Set every window radius to 20
    clip-to-geometry true
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

window-rule {
    match title="Picture-in-Picture"
    open-floating true
    default-window-height { fixed 400; }

    focus-ring { 
        off
    }
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 20
    clip-to-geometry true
}

window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="vicinae"
    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="vicinae"
    background-effect {
        blur true
        xray false
    }
}
